@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
  overflow: hidden;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 96.94%; 
  margin: 0 auto;
}

:root {
  --clr-grey1: #f1f1f1;
  --clr-grey2: #bbb;
  --clr-grey3: #616161;
  --clr-black: #000;
  --clr-green: #4caf50;
}

/* common styling starts here  */
.heading {
  padding-bottom: 18px;
  display: inline-block;
  font-size: 30px;
  border-bottom: 8px solid #ccc;
}

.offer-items,
.team .wrapper,
.contact-section .wrapper { text-align: center; }

.subheading, .para1, .para2 { text-align: left; }
.para1,.para2 { font-size: 17px;}

.subheading {
  font-size: 30px;
  font-weight: 500;
}

.bold {
  font-weight: bold;
  padding-right: 5px;
}

/*=================================
  Header styling starts here
=================================*/
.hamburger { display: none; }

.bar {
  width: 25px;
  height: 3px;
  margin: 5px;
  display: block;
  background-color: #000;
  text-indent: -9999px;
  transition: all .3s;
}

.header { background-color: var(--clr-grey1); }

.header .wrapper {
  width: 79.25%;
  padding: 16px 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  color: #000;
  font-size: 21px;
}

.nav-item:hover {
  color: var(--clr-green);
  transition: all .3s;
 }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner section styling starts here  */
.banner-section .wrapper { padding: 68px 0 95px 0; }

.logo {
  padding-bottom: 32px;
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
}

.subtitle {
  font-size: 18px;
  padding-bottom: 42px;
}

.banner-item:not(:first-child) { display: none; }
.banner-image { position: relative; }

.caption {
  padding: 16px 20px;
  margin: 25px 20px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  font-size: 20px;
}

.control {
  max-width: 1245px;
  padding: 20px 21px 15px 20px;
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-grey3);
}

.left-slide,.right-slide,.btn {
  position: relative;
  text-indent: -9999px;
}

.left-slide::before,
.right-slide::before {
  content: "\f060";
  width: 29px;
  height: 29px;
  border-radius: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: var(--clr-grey3);
  font-size: 20px;
  font-family: "FontAwesome";
  text-indent: 0;
}

.right-slide::before { 
  content: "\f061";
}

.btn{
  width: 20px;
  height: 20px;
  border: .5px solid #fff;
  margin: .5px;
  background-color: transparent;
}

.btn:hover,
.btn:last-child {
  background-color: #fff;
  transition: all .3s;
}

.left-slide:hover::before,
.right-slide:hover::before {
  background-color: var(--clr-grey3);
  color: #fff;
  transition: all .5s;
}

/* banner section styling ends here  */

/* what we offer styling starts here */
.offer-list {
  padding: 60px 0 105px 0;
  display: flex;
}

.design,.brand,.consult,.promise { flex-basis: 25%; }
.design { background-color: var(--clr-grey1) }
.brand { background-color: var(--clr-grey2) }
.consult { background-color: var(--clr-grey3) }
.promise { background-color: #000 }

.offer .para1, .offer .para2 {
  padding: 0 30px 0 0;
  line-height: 25px;
}

.para2 { 
  padding: 0 9px 16px 0;
  color: #fff;
}
.offer-list li { padding: 40px 45px 40px 22px; }
.offer-list .subheading { margin-bottom: 18px; }
.consult .subheading, .promise .subheading { color: #fff; }

.plan-heading {
  padding-bottom: 38px;
  font-size: 27px ;
  letter-spacing: .5px;
  text-align: center;
}

.plan-para {
  font-size: 20px;
  text-align: center;
}

.plan-type {
  margin-top: 105px;
  display: flex;
  justify-content: space-between;
}

.plan-type li { flex-basis: 32%; }

.plan-details {
  display: flex;
  flex-direction: column;
}

.plan-details li { 
  padding: 25px ;
  flex-basis: 32%;
  text-align: center;
}

.plan-type .subheading {
  padding: 45px 0;
  border: .5px solid #dedede;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.plan-item, .signup-btn {
  border: .5px solid #dedede;
  font-size: 18px;
}

.price { 
  padding: 40px ;
  font-size: 40px;
  letter-spacing: 5px;
}

.month {
  padding-top: 27px;
  display: block;
  color: #B6AFA6;
  font-size: 18px;
  letter-spacing: 1px;
}

.pro .subheading { background-color: var(--clr-grey3)}

.signup {
  padding: 19px 30px;
  background-color: var(--clr-green);
  color: #fff;
  font-size: 20px;
}

.signup-btn { background-color: var(--clr-grey1)}

.signup:hover {
  background-color: var(--clr-grey2);
  color: #000;
  transition: all .5s;
}

/* what we offer styling ends here  */
/* team section styling starts here  */
.team { padding: 110px 0 50px 0; }

.team-list {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
}

.team-item {
  flex-basis: 32.3%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px, rgba(0, 0, 0, 0.05) 0px 2px 4px, rgba(0, 0, 0, 0.05) 0px 4px 8px, rgba(0, 0, 0, 0.05) 0px 8px 16px, rgba(0, 0, 0, 0.05) 0px 16px 32px, rgba(0, 0, 0, 0.05) 0px 32px 64px;
}

.team-img { margin-bottom: 5px; }

.team-name,
.designation,
.para1 { text-align: left; }

.team-name { font-size: 30px; }

.team-name,
.designation,
.para1 {
  padding: 9px 16px;
}

.team-name { padding-bottom: 20px;}
.designation { 
  font-size: 19px;
  color: var(--clr-grey2);
}

.team .para1 {
  padding: 0 13% 15px 4%;
  line-height: 29px;
  font-size: 19px;
}

.contact-btn {
  width: 100%;
  padding: 16px 0 ;
  background-color: var(--clr-grey1);
  color: #454545;
  font-size: 17px;
}

.contact { margin: 20px; }

.contact:hover,
.contact-btn:hover {
  background-color: #454545;
  color: #fff;
  font-weight: 600;
  transition: all .4s;
}

/* team section styling ends here  */
/* contact section styling starts here  */
.contact-section form { padding: 80px 0 100px 0; }

.input-box { text-align: left; }

.input-box label {
  font-size: 18px;
  text-align: left;
}

.form-input { padding: 4px 0; }

.form-input input {
  width: 98%;
  padding: 1.3% 1%;
  border: 1px solid #cecece;
}

.submit-btn button {
  width: 100%;
  padding: 13px 0;
  border: none;
  margin: 16px 0;
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

.submit-btn button:hover {
  background-color: var(--clr-grey3);
  font-weight: 600;
  transition: all .4s;
}
/* contact section styling ends here  */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
.footer { background-color: var(--clr-grey1)}
.footer .wrapper {
  padding: 65px 0 50px 0;
  text-align: center;
}

.footer-heading {
  padding-bottom: 40px;
  font-size: 25px;
}

.top-icon {
  padding: 15px 20px;
  margin-bottom: 50px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

.top-icon::before {
  content: "\f062";
  padding-right: 12px;
  float: left;
  font-family: "FontAwesome";
}

.top-icon:hover,
.top-icon:hover::before {
  background-color: var(--clr-grey1);
  color: #000;
  scale: 1.05;
  transition: all .3s;
}

.social { margin-bottom: 36px; }
.social-icon { text-indent: -9999px; }

.social-icon::before {
  content: "\f230";
  margin: 1px;
  float: left;
  text-indent: 0;
  color: #000;
  font-size: 30px;
  font-family: "FontAwesome";
}

.instagram::before { content: "\f16d"; }
.snapchat::before { content: "\f2ab"; }
.pinterest::before { content: "\f231"; }
.twitter::before { content: "\f099"; }
.linkedin::before { content: "\f0e1"; }

.social-icon:hover::before {
  scale: 1.15;
  transition: all .3s;
}

.poweredby { font-size: 18px; }
.w3 { 
  color: #000;
  text-decoration: underline;
}

.w3:hover { 
  color: #212825a3;
  transition: all .3s;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
.offer-list {
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.team-list {
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.team-item { flex-basis: 46%; }
}  
/* media query for 995px ends here  */
/* media query for 767px starts here  */
@media only screen and (max-width: 767px) {
  .header .wrapper { 
    padding: 25px 0;
    position: relative;
  }

  .hamburger {
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 3;
    top: 8px;
    right: 0;
  }

  .hamburger:hover+.nav {
  right: 0;
  }

  .nav {
  z-index: 2;
  position: fixed;
  top: 0;
  right: -100%;
  background: var(--clr-grey2);
  width: 100%;
  height: 100vh;
  transition: all .3s;

  }

  .nav-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  }

  .offer .wrapper { width: 90%; }
  .plan-type {
    flex-direction: column;
  }
}
/* media query for 767px ends here  */